.gitignore
# Original bulk test data
Archive.zip
bin
data
lib
Makefile
autom4te.cache
config.h
config.h.in
config.cache
config.log
config.status
config.status.out
configure
configure.out
install.txt
pkgIndex.tcl
.settings
